* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #548687;
    text-align: center;
  }
  
  h1 {
    font-size: 50px;
    margin-top: 50px;
  }
  
  .container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Changed to flex-start to start aligning from the top */
    align-items: center;
    margin-top: 2rem; /* Added margin-top for spacing between heading and container */
  }
  
  .game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vmin;
    margin-top: 2rem; /* Added margin-top for spacing between heading and game grid */
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .box:hover {
    background-color: #e6d889;
    transform: scale(1.05);
  }
  
  #reset-btn, #new-btn, #back-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    transition: background-color 0.3s;
    margin-top: 1rem;
  }
  
  #reset-btn:hover, #new-btn:hover, #back-btn:hover {
    background-color: #e6ebe9;
    color: #191913;
  }
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem; /* Adjusted for spacing */
  }
  
  .hide {
    display: none;
  }
  