body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #548687;
  text-align: center; 
}

.container {
  text-align: center;
}

.friend {
  margin: 12px 0; /* Optional: Adds some space between buttons */
}
h1{
  font-size: 60px;
  margin-bottom: 3rem;
}
#friend-btn{
  height:30px;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 20px 20px;
  background-color: #007BFF; /* Button color */
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

.button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}


#friend-btn, #bot-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

#friend-btn:hover, #bot-btn:hover {
  background-color: #e6ebe9;
  color: #191913;
}
